
{% extends 'default.html' %}
{% block title %}
Тестовые задания Python-программисту
{% endblock title %}

{% block content %}
<h3 style="text-align: left;"> Short description </h3>
<p style="text-align: left;">We have a file with KML map data, describing the route of a vehicle. They are based on sensors and might contain incorrect measurements.
 </em></p>
<p style="text-align: left;">&nbsp;💡 <strong>The task.</strong> To write a script in python, that can process the KML datafile, passed to the script as a parameter, read the coordinates and filter out the incorrect data points.
  The script must also sum up and display the total distance in kilometres, without the incorrect data points.</p>

{% endblock content %}